DATABASE_URL="file:./dev.db"
AUTH_SECRET="generate-a-long-random-secret-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
